@tailwind base;
@tailwind components;
@tailwind utilities;

.sidebarScroll::-webkit-scrollbar {
  display: none;
}

.sidebarScroll {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Animation */
.Transition {
  @apply transition duration-200 ease-in-out;
}

/* Grid */
.grid_box_1 {
  @apply grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4;
}
.grid_box_2 {
  @apply grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3;
}

.pages_spaces {
  @apply pt-[105px] pl-[280px] lg:pl-[270px] max-md:px-4 md:pr-4 max-lg:pb-[50px] lg:mb-[200px] min-h-screen transition-all duration-150;
}

/* Sizes */
.icon_size {
  @apply text-[22px];
}
